{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/greet.css">
	<style type="text/css">
		.jumbotron {
			transform: translate(20%, -50%);
		}
	</style>
{% endblock %}


{% block body %}
<div class="background-image"></div>
	
<div class="container" style = "align-items: center; ">
	<div class="jumbotron text-center"> 
		<h1><b>Oops, page not found!</b></h1>
		<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/index'">Go back to starting page</button>
	</div>

</div>

{% endblock %}