{% extends "basePage.html" %}

{% block head %}
	<title> Simulation </title>

	<script type="text/javascript" src="/javascripts/plotly-latest.min.js"></script>
	<script type="text/javascript" src="/javascripts/charts.js"></script>

{% endblock %}

{% block body %}

<div ng-app="myApp">
	<div class="row" ng-controller="filters">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading text-center" color: rgb(255,255,255);">Filters</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
							<div class="col-sm-2">
								<label for="percentOfDefectingCells" class="control-label">Percent of defecting cells:</label>
							</div>
							<div class="col-sm-1">
								<input type="number" class="form-control" id="percentOfDefectingCells" min="0" max="100" ng-model="percentOfDefectingCells" ng-init="percentOfDefectingCells=5">
							</div>
							<div class="col-sm-2">
								<label for="cooperatingCost" class="control-label">Cost of cooperative cells:</label>
							</div>
							<div class="col-sm-1">
								<input type="number" class="form-control" id="cooperatingCost" ng-model="cooperatingCost" ng-init="cooperatingCost=0.1" step="0.1">
							</div>
							<div class="col-sm-2">
								<label for="distanceOfInteraction" class="control-label">Distance of interaction:</label>
							</div>
							<div class="col-sm-1">
								<input type="number" min="1" max="5" class="form-control" id="distanceOfInteraction" ng-model="distanceOfInteraction" ng-init="distanceOfInteraction=1">
							</div>
							{% block warburg %} {% endblock %}

					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="mainBody">
	</div>

	<div class="container" hidden id="error">
  	<div class="jumbotron text-center">
    	<h1>No items found in the Database</h1>
  	</div>
	</div>

</div>

{% endblock %}
