<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron text-center">
  <h1>Wellcome to EvolutionAndStuff</h1>
  <p>
    This application simulates cellular behaviour on a timeline, viusalizing it with the use of Voronoi graphs, and other statisctical charts.
  </p>
  <p> 
    To start, press the button down below! Have fun and learn!
  </p>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-primary btn-lg">Start simulating!</button>
    </div>
  </div>
</div>

</body>
</html>

