{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/greet.css">
{% endblock %}

{% block body %}
<div class="background-image"></div>
	
<div class="container" style = "align-items: center; ">
	<div class="jumbotron text-center"> 
		<h1><b>Welcome to EvolutionAndStuff</b></h1>
		<p><b>
			This application simulates cellular behaviour on a timeline, viusalizing it with the use of Voronoi graphs, and other statisctical charts.
		</b></p>
		<p><b>
			To start, press the button down below! Have fun and learn!
		</b></p>
		<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/home'">Start simulating!</button>
	</div>

</div>

{% endblock %}