{% extends "basePage.html" %}

{% block head %}
	<title> Simulation </title>
	<link rel="stylesheet" href="/stylesheets/loading_clock.css">
	<link rel="stylesheet" href="/stylesheets/home.css">

	<script type="text/javascript" src="/javascripts/paper-full.js"></script>
	<script type="text/javascript" src="/javascripts/voronoi_core.js"></script>
	<script type="text/javascript" src="/javascripts/AnimatableVoronoi.js"></script>
	<script type="text/javascript" src="/javascripts/presets.js"></script>
	<script type="text/javascript" src="/javascripts/event_functions.js"></script>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}
 <div class="section">
  <div class="container" style="width:95%;">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center" style="background-color: #337CBB; color: rgb(255,255,255);">Set the parameters for the next run here</div>
          <div class="panel-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="totalNumberOfCells" class="control-label">Total number of cells:</label>
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control" id="totalNumberOfCells" placeholder="Total number of cells" min="0">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="numberOfNonProductiveCells" class="control-label">Non-productive cell count:</label>
                </div>
                <div class="col-sm-6">
                  <input type="number" class="form-control" id="numberOfNonProductiveCells" placeholder="Non-productive count" min="0">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="generationCount" class="control-label">Number of generations:</label>
                </div>
                <div class="col-sm-6">
                  <input type="text" min="0" class="form-control" id="generationCount" placeholder="Generation count">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="cooperaintCost" class="control-label">Cost of cooperative cells:</label>
                </div>
                <div class="col-sm-6">
                  <input type="number" min="0" max="1" class="form-control" id="cooperaintCost" placeholder="Cooperating cost">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="distanceOfInteraction" class="control-label">Distance of interaction:</label>
                </div>
                <div class="col-sm-6">
                  <input type="text" min="1" max="4" class="form-control" id="distanceOfInteraction" placeholder="Distance of interaction">
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-md-12">
                <input type="button" class="btn btn-default submit col-md-6" value="Render new diagram" id="renderNewDiagram" onclick="renderNewDiagram();">
                <input type="button" class="btn btn-default submit col-md-6" value="Set new parameters" id="setNewParameters" onclick="setNewParameters();">
              </div>
              <div class="col-md-12">
                <input type="button" class="btn btn-default submit col-md-6" value="Start the simulation" id="startSimulation" onclick="startSimulation();">
                <input type="button" class="btn btn-default submit col-md-6" value="Pause the simulation" id="pauseSimulation" onclick="pauseSimulation();">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <canvas id="canvas" resize="" width="300" height="300"></canvas>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar" id="simulation_progress" style="width:50%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading text-center" style="background-color: #337CBB; color: rgb(255,255,255);">Statistics</div>
        <div class="panel-body text-center">
          <div id="highChartsCointainer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
