{% extends "basePage.html" %}

{% block head %}
	<title> Simulation </title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/voronoi_style.css">
	<link rel="stylesheet" href="/stylesheets/loading_clock.css">
	<script type="text/javascript" src="/javascripts/paper-full.js"></script>
	<script type="text/javascript" src="/javascripts/voronoi_core.js"></script>
	<script type="text/javascript" src="/javascripts/AnimatableVoronoi.js"></script>
	<script type="text/javascript" src="/javascripts/presets.js"></script>
	<script type="text/javascript" src="/javascripts/event_functions.js"></script>

{% endblock %}

{% block body %}
	<div class="row" style="height: 120%;" >
		<div class="col-sm-4" style = "widtht: 100%;">
			<div class="panel panel-default">
					<div class="panel-heading" style="background-color: rgb(40,40,40); color: rgb(255,255,255);">Set the parameters for the next run here:</div>
						<div class="panel-body" style="text-align: center">
							<label>Enter your own parameters:</label>
							<form id="form1" style="text-align: left">
								<div class="form-group" style="padding-bottom:25px;padding-top:15px;">
									<label for="number" style="width:50%;float:left;margin-top:6px;padding-bottom:10px;">Total number of cells:</label>
									<input type="number" style="width:50%;float:right;" class="form-control" id="number" min="0" value="160">
								</div>
								<div class="form-group" style="padding-bottom:25px;padding-top:15px;">
									<label for="number_non" style="width:50%;float:left;margin-top:6px;padding-bottom:10px;">Number of non-productive cells:</label>
									<input type="number" style="width:50%;float:right;" class="form-control" id="number_non" min="0" max="100" value="10">
								</div>
								<div class="form-group" style="padding-bottom:25px;padding-top:15px;">
									<label for="gen_count" style="width:50%;float:left;margin-top:6px;padding-bottom:10px;">Number of generations:</label>
									<input type="number" style="width:50%;float:right;" class="form-control" id="gen_count" min="0" value="10">
								</div>	
								<div class="form-group" style="padding-bottom:25px;padding-top:15px;">
									<label for="coop_cost" style="width:50%;float:left;margin-top:6px;padding-bottom:10px;">Cost of cooperative cells:</label>
									<input type="number" style="width:50%;float:right;" class="form-control" id="coop_cost" value="0.1" step="0.01" min="0" max="1">
								</div>	
								<div class="form-group" style="padding-bottom:25px;padding-top:15px;">
									<label for="dist" style="width:50%;float:left;margin-top:6px;padding-bottom:10px;">Distance of interaction:</label>
									<input type="number" style="width:50%;float:right;" class="form-control" id="dist" min="0" value="1">
								</div>						

							</form>

						<form style="text-align: left">
							<div class="form-group" style="padding-bottom:25px;padding-top:15px;">
								<label style="width:50%;float:left;margin-top:6px;padding-bottom:10px;" for="presets">Choose your preset:</label>
								<select style="width:50%;float:right;" class="form-control" id="presets" onchange="changePreset();">
									<option>Default</option>
									<option>River</option>
									<option>Corner</option>
									<option>X</option>
									<option>GameBoard</option>
									<option>THX</option>
								</select>
							</div>	
						</form>
						<input type="button" style="width:50%;margin-bottom:5px;margin-top:15px;float:left;" class="btn btn-default submit" onclick="submit1();" value="Render new diagram"/>
						<input type="button" style="width:50%;margin-bottom:5px;margin-top:15px;float:right;" class="btn btn-default submit" onclick="setVoronoi();" value="Set new parameters" disabled = "true"/>
						<input id="submit2" type="button" style="width:50%;margin-bottom:25px;margin-top:5px;float:left;" class="btn btn-default submit" onclick="submit2();" value="Start the simulation" disabled="true"/>
						<input id="pause" type="button" style="width:50%;margin-bottom:25px;margin-top:5px;float:right;" class="btn btn-default submit" onclick="pause_restart();" value="Pause the Simulation" disabled="true"/>
					</div>
				</div>
		</div>
		<div class="col-sm-8" style = "height: 75%; widtht: 100%;">
			<div class="panel panel-default">
				<canvas id="canvas" resize></canvas>
			</div>
			<input id="simulation_progress" type="range"  min="0" max="10" value="0" style="width:85%; float:right;" onchange="changePBValue(this.value)" disabled="true"/>
			<span id="range" style="width:15%; float:left;"><b>Gen count: 0</b></span>
			<!--<progress value="0" max="100" id="simulation_progress" style="width:100%"></progress>-->
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: rgb(40,40,40); color: rgb(255,255,255); text-align: center;">Statistics</div>
			<div class="panel-body" style="text-align: center">
				<div id = "container">
				</div>
			</div>
		</div>
	</div>

	<div class="modal"></div>
{% endblock %}
