{% extends "basePage.html" %}

{% block head %}
	<title> Simulation </title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/voronoi_style.css">
	<link rel="stylesheet" href="/stylesheets/loading_clock.css">
	<script type="text/javascript" src="/javascripts/paper-full.js"></script>
	<script type="text/javascript" src="/javascripts/voronoi_core.js"></script>
	<script type="text/javascript" src="/javascripts/AnimatableVoronoi.js"></script>
	<script type="text/javascript">
		const HOST = location.origin.replace(/^http/, 'ws');
		const connection = new WebSocket(HOST);
		var voronoi;
		var dcolor=150;
		var ccolor=97;
		var progressBar;
		var sitesList;

		window.onload = function() {
			progressBar = $("#simulation_progress")[0];

			let canvas = $('#canvas')[0];
			let context = canvas.getContext('2d');
			paper.install(window);
			paper.setup(canvas);
			voronoi = new AnimatableVoronoi(view);

			//GenerationCount
			let defaultGenerationCount = 10;
			voronoi.setGen_Count(defaultGenerationCount);
			$('#gen_count')[0].value = defaultGenerationCount;

			//CellCount
			let defaultCellCount = 160;
			voronoi.setSites(voronoi.generateBeeHivePoints(new Size(Math.floor(Math.sqrt(defaultCellCount)), Math.ceil(Math.sqrt(defaultCellCount))), true));
			$('#number')[0].value = defaultCellCount;

			//CoopCost
			let defaultCoopCost = 0.1;
			voronoi.setCoop_Cost(defaultCoopCost);
			$('#coop_cost')[0].value = defaultCoopCost;

			//voronoi.renderDiagram();

			let count=0;

			//-----------------------------------------------------------------
			//-----------------------------------------------------------------
			// pass nunjucks variable with: {{sites|dump|safe}}
			//-----------------------------------------------------------------
			//-----------------------------------------------------------------

			canvas.onclick= function(event){
				color = context.getImageData(event.offsetX, event.offsetY, 1, 1).data[1];
				if(color==dcolor)
					voronoi.onMouseDown(event.offsetX,event.offsetY,'d');
				if(color==ccolor)
						voronoi.onMouseDown(event.offsetX,event.offsetY,'c');
			}

			//slow motion
			/*
			canvas.onmousemove = function(event){
				color = context.getImageData(event.offsetX, event.offsetY, 1, 1).data[1];
				if(color==dcolor)
					voronoi.onMouseMove(event.offsetX,event.offsetY,'d',count);
				if(color==ccolor)
						voronoi.onMouseMove(event.offsetX,event.offsetY,'c',count);
				++count;
			}
			*/
		}

		function render(i, n, sitesList) {
			if (i >= n) {
				$(".submit")[0].disabled = false;
				$(".submit")[1].disabled = false;
				voronoi.displayChartData(chart);
				return;
			}
			setTimeout(function() {
				voronoi.addDataToChart();
				voronoi.setSites(voronoi.sitesBadFormatToPointFormat(sitesList[i]));
				voronoi.renderDiagram();
				progressBar.value++
				showPBValue();
				if (voronoi.getProductiveCount() == 0)
					i = n;
				render(i + 1, n, sitesList);
				return;
			}, 0)
		}
		function renderone(i, sitesList) {
			setTimeout(function() {
				voronoi.addDataToChart();
				voronoi.setSites(voronoi.sitesBadFormatToPointFormat(sitesList[i]));
				voronoi.renderDiagram();
				if (voronoi.getProductiveCount() == 0)
					i = n;
				return;
			}, 0)
		}

		//Changes slider value
		function changePBValue(newValue) {
			renderone(newValue,sitesList);
			progressBar.value=newValue;
			showPBValue();
		}

		//Updates the span next to the slider
		function showPBValue() {
			document.getElementById("range").innerHTML="<b>Gen count: "+progressBar.value+"</b>";
		}
		</script>


		<script type="text/javascript">
		var chart;
		$(document).ready(function() {
			chart = Highcharts.chart('container', {

				chart: {
					type: 'column'
				},

				title: {
					text: 'Number of cells, over time'
				},

				xAxis: {
					categories: []
				},

				yAxis: {
					allowDecimals: false,
					min: 0,
					title: {
						text: 'Number of cells'
					}
				},

				tooltip: {
					formatter: function() {
						return '<b>' + this.x + '</b><br/>' +
							this.series.name + ': ' + this.y + '<br/>' +
							'Total: ' + this.point.stackTotal;
					}
				},

				plotOptions: {
					column: {
						stacking: 'normal'
					}
				},

				series: [{
					name: 'Productive',
					color: '#f36205',
					data: [],
				}, {
					name: 'Non-productive',
					color: '#2f98da',
					data: [],
				}, {
					name: 'NS',
					type: 'spline',
					color: '#000000',
					data: [],
				}]
			});

			var n = Math.ceil(Math.random() * 100); //ezt kell megkapjam
			var categories = [];
			var numberProductive = [];
			var numberNonProductive = [];
			for (i = 0; i < 10; i++) {
				var p = Math.ceil(Math.random() * n); //ezt kell megkapjam
				numberProductive.push(p);
				numberNonProductive.push(n - p);
				categories.push(i + 1);
			}
			chart.series[0].setData(numberProductive);
			chart.series[1].setData(numberNonProductive);
			chart.series[2].setData(numberNonProductive);

			chart.xAxis[0].setCategories(categories);

		});

		function submit1() {
			let number 			= Math.max(Number($('#number')[0].value),0),
					number_non 	= Number($('#number_non')[0].value),
					gen_count 	= Math.max(Number($('#gen_count')[0].value),0),
					coop_cost 	= Number($('#coop_cost')[0].value),
					dist 				= Math.max(Number($('#dist')[0].value),0);

			//Reset the progressBar
			progressBar.max = gen_count;
			progressBar.value = 0;
			showPBValue();

			try {
				voronoi.setNonCooperatingChance(number_non/number);
				let sites = voronoi.generateBeeHivePoints(new Size(Math.floor(Math.sqrt(number)), Math.ceil(Math.sqrt(number))), true);

				voronoi.setSites(sites);
				voronoi.setGen_Count(gen_count);
				voronoi.setCoop_Cost(coop_cost);
				voronoi.setDist(dist);

				voronoi.renderDiagram();
				voronoi.resetChart();
			}
			catch (error){
				voronoi.setNonCooperatingChance(0.5);
				let sites = voronoi.generateBeeHivePoints(new Size(10, 10), true);
				voronoi.setSites(sites);
				voronoi.renderDiagram();
				console.log(error);
			}
		}

		function submit2() {
			presets = $('#presets')[0].value;
			console.log(presets);
			progressBar.value = 0;

			//Send data to server via websocket
			json = JSON.stringify({
				bbox: 		 voronoi.getBbox(), 
				sites:  	 voronoi.getSites(),
				gen_count: voronoi.getGen_Count(),
				coop_cost: voronoi.getCoop_Cost(),
				dist: 		 voronoi.getDist(),
				//send more data here
			});
			connection.send(json);

			connection.onmessage = function(e) {
				//If the websocket processed the information simulate on the server side
				$.get("voronoi/data");
				$("body").addClass("loading");
				connection.onmessage = function (e) {
					//Get results via the websocket
					sitesList = JSON.parse(e.data);
					$("body").removeClass("loading")
					$(".submit")[0].disabled = true;
					$(".submit")[1].disabled = true;
					render(0, sitesList.length, sitesList);
				};
			}

		}
	</script>

{% endblock %}

{% block body %}
	<div class="row" >
		<div class="col-sm-4">
			<div class="panel panel-default">
					<div class="panel-heading" style="background-color: rgb(40,40,40); color: rgb(255,255,255);">Set the parameters for the next run here:</div>
						<div class="panel-body" style="text-align: center">
							<label>Enter your own parameters:</label><br><br>
							<form id="form1" style="text-align: left">
							<div class="form-group">
								<label for="number">Total number of cells:</label>
								<input type="number" class="form-control" id="number" min="0" value="160">
							</div>
							<div class="form-group">
								<label for="number_non">Approximate number of non-productive cells:</label>
								<input type="number" class="form-control" id="number_non" min="0" max="100" value="10">
							</div>
							<div class="form-group">
								<label for="gen_count">Number of generations:</label>
								<input type="number" class="form-control" id="gen_count" min="0" value="10">
							</div>	
							<div class="form-group">
								<label for="coop_cost">Cost of cooperative cells:</label>
								<input type="number" class="form-control" id="coop_cost" value="0.1" step="0.01" min="0" max="1">
							</div>	
							<div class="form-group">
								<label for="dist">Distance of interaction:</label>
								<input type="number" class="form-control" id="dist" min="0" value="1">
							</div>						
							<input type="button" class="btn btn-default submit" onclick="submit1();" value="Submit"/>
					</form><br>

					<label> --------------- OR ---------------</label><br><br>

					<label>Select a preset:</label><br><br>
							<form style="text-align: left">
								<div class="form-group">
							<label for="presets">Choose your preset:</label>
							<select class="form-control" id="presets">
								<option>Default cancer</option>
							</select>
						</div>

						<input type="button" class="btn btn-default submit" onclick="submit2();" value="Submit"/>
					</form>
						</div>
				</div>
		</div>
		<div class="col-sm-8" style = "height: 80%; widtht: 100%;">
			<div class="panel panel-default">
				<canvas id="canvas" resize></canvas>
			</div>
			<input id="simulation_progress" type="range"  min="0" max="10" value="0" style="width:85%; float:right;" onchange="changePBValue(this.value)"/>
			<span id="range" style="width:15%; float:left;"><b>Gen count: 0</b></span>
			<!--<progress value="0" max="100" id="simulation_progress" style="width:100%"></progress>-->
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: rgb(40,40,40); color: rgb(255,255,255); text-align: center;">Statistics</div>
			<div class="panel-body" style="text-align: center">
				<div id = "container">
				</div>
			</div>
		</div>
	</div>

	<div class="modal"></div>
{% endblock %}
