{% extends "basePage.html" %}

{% block head %}
	<title> Simulation </title>
	<link rel="stylesheet" href="/stylesheets/loading_clock.css">
  <link rel="stylesheet" href="/stylesheets/simulateWithDiagram.css">

	<script type="text/javascript" src="/javascripts/paper-full.js"></script>
	<script type="text/javascript" src="/javascripts/voronoi_core.js"></script>
	<script type="text/javascript" src="/javascripts/BaseVoronoi.js"></script>
  <script type="text/javascript" src="/javascripts/util/colorProvider.js"></script>
  <script src="https://cdn.jsdelivr.net/canvg/1.4.0/rgbcolor.js"></script>
  <script type="text/javascript" src="/javascripts/simulateController.js"></script>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

  <script src="/javascripts/Chart.min.js"></script>
  <script src="/javascripts/angular-chart.min.js"></script>
{% endblock %}

{% block body %}
<div ng-app="myApp">
<div class="section" ng-controller="baseVoronoiController">
  <header>
    <div class="container">
          <h2>Parameters</h2>
    </div>
  </header>
  <div class="container" style="width:95%;">
    <div class="row" id="successMessageRow">
      <div class="col-md-4"></div>
      <strong>
      <div class="col-md-4" id="successMessage"></div>
      </strong>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {% block parameters %} {% endblock %}
      </div>
      <div class="col-md-8" >
        <div class="panel panel-default">
        <div class="panel-heading">Functions used in calculations</div>
        <div class="row">
          <div class="col-md-6">
            <img src="/images/bj_trans.png" class="img-responsive">
            <canvas id="line" class="chart chart-line" chart-data="payoffData" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
          </div>
          <div class="col-md-6">
            <img src="/images/gj_trans.png" class="img-responsive">
            <canvas id="line" class="chart chart-line" chart-data="gradientData" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
          </div>
        </div>
      </div>


     </div>

    </div>
  </div>

</div>



<div class="section page-height" id="statistics">
  <header>
    <div class="container">
          <h2>Statistics</h2>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="panel panel-default" ng-hide="$root.hideStatistics" class="ng-hide">
        <div class="panel-heading text-center" color: rgb(255,255,255);">Statistics</div>
        <div class="panel-body text-center" id="panel"></div>
      </div>
    </div>
  </div>
</div>

<div class="loading_clock"></div>
{% endblock %}
