{% extends "simulate.html" %}
{% block parameters %}
<div class="panel panel-default" ng-controller="parameterController">
    <div class="panel-heading text-center" color: rgb(255,255,255);">Set the parameters for the next run here</div>
<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-8">
                <label for="totalNumberOfCells" class="control-label">Total number of cells:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="totalNumberOfCells" min="0" ng-model="totalNumberOfCells" ng-init="totalNumberOfCells=defaultCellCount">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="percentOfDefectingCells" class="control-label">Percent of defecting cells:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="percentOfDefectingCells" min="0" ng-model="percentOfDefectingCells" ng-init="percentOfDefectingCells=defaultNonProductiveCellCount">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="generationCount" class="control-label">Number of generations:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" min="0" class="form-control" id="generationCount" ng-model="generationCount" ng-init="generationCount=defaultGenerationCount">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="cooperatingCost" class="control-label">Cost of cooperative cells:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="cooperatingCost" ng-model="cooperatingCost" ng-init="cooperatingCost=defaultCoopCost">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="cooperatingLimit" class="control-label">Max value of beneficial cooperation</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="cooperatingLimit" ng-model="cooperatingLimit" ng-init="cooperatingLimit=defaultCoopLimit">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="distanceOfInteraction" class="control-label">Distance of interaction:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" min="1" max="4" class="form-control" id="distanceOfInteraction" ng-model="distanceOfInteraction" ng-init="distanceOfInteraction=defaultDistanceOfInteraction">
            </div>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="itShouldDivide" ng-modell="itShouldDivide">Cell division</label>
        </div>

        <br><br>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="steepness1" class="control-label">Steepness of the function l1:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="steepness1" min="0" ng-model="steepness1" ng-init="steepness1=defaultSteepness1" ng-change="reloadPayoff()">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="inflectionPoint1" class="control-label">Position of the inflection point in l1:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="inflectionPoint1" min="0" ng-model="inflectionPoint1" ng-init="inflectionPoint1=defaultInflectionPoint1" ng-change="reloadPayoff()">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="steepness2" class="control-label">Steepness of the function l2:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="steepness2" min="0" ng-model="steepness2" ng-init="steepness2=defaultSteepness2" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="inflectionPoint2" class="control-label">Position of the inflection point in l2:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="inflectionPoint2" min="0" ng-model="inflectionPoint2" ng-init="inflectionPoint2=defaultInflectionPoint2">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="shapeOfDif" class="control-label">Shape of the diffusion gradient:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" min="0" class="form-control" id="shapeOfDif" ng-model="shapeOfDif" ng-init="shapeOfDif=defaultShapeOfDif" ng-change="reloadGradient()">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <label for="steepnessOfGrad" class="control-label">Steepness of the gradient:</label>
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="steepnessOfGrad" ng-model="steepnessOfGrad" ng-init="steepnessOfGrad=defaultSteepnessOfGrad" ng-change="reloadGradient()">
            </div>
        </div>
        <br>
        <div ng-controller="simulationController">
            <a href='#statistics'>
                <input type="button" class="btn btn-default submit col-md-10 col-md-offset-1" value="Start" id="start" ng-click="simulate()">
            </a>
        </div>
    </form>
</div>
</div>

{% endblock %}

{% block charts %}

<div class="panel panel-default">
    <div class="panel-heading">Functions used in calculations</div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="line" class="chart chart-line" chart-data="payoffData" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
            <canvas id="line" class="chart chart-line" chart-data="payoffData" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
            <canvas id="line" class="chart chart-line" chart-data="payoffData" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
        </div>

    </div>
</div>

{% endblock %}