{% extends "basePage.html" %}

{% block head %}
<title> Simulation </title>
<link rel="stylesheet" href="/stylesheets/loading_clock.css">
<link rel="stylesheet" href="/stylesheets/simulateWithDiagram.css">

<script type="text/javascript" src="/javascripts/paper-full.js"></script>
<script type="text/javascript" src="/javascripts/voronoi_core.js"></script>
<script type="text/javascript" src="/javascripts/util/colorProvider.js"></script>
<script src="https://cdn.jsdelivr.net/canvg/1.4.0/rgbcolor.js"></script>
<script type="text/javascript" src="/javascripts/BaseVoronoi.js"></script>
<script type="text/javascript" src="/javascripts/AnimatableVoronoi.js"></script>
<script type="text/javascript" src="/javascripts/visualizeController.js"></script>
<script type="text/javascript" src="/javascripts/commonController.js"></script>
<script type="text/javascript" src="/javascripts/timer.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

{% endblock %}

{% block body %}
<div ng-app="myApp" ng-controller="animatableVoronoiController">
  <div class="section" id="voronoi" >
    <header>
      <div class="container">
        <h2>Parameters</h2>
      </div>
    </header>
    <div class="container" style="width:95%;">
      <div class="row" id="successMessageRow">
        <div class="col-md-4"></div>
        <strong>
          <div class="col-md-4" id="successMessage"></div>
        </strong>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-3">
          {%block parameters %} {% endblock %}
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <canvas id="canvas" resize></canvas>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="progress" id="progress">
              <div class="progress-bar" id="progressBar" style="width:50%" ng-controller="progressBarController">
                <strong>
                  <span id="progressText">50%</span>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section page-height" id="statistics">
    <header>
      <div class="container">
        <h2>Statistics</h2>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading text-center" color: rgb(255,255,255);">Statistics</div>
        <div class="panel-body text-center">
          <div id="voronoi-chart" class="voronoi-column-chart"  data="chartData" title="Number of cells, over time"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loading_clock"></div>
{% endblock %}
